.fa {
    font-size: 50px;
}

.fa-brands {
    margin-right: 20px;
    border-radius: 10px;
}

.fa-vk {
    color: blueviolet;
    background-color: black;
}

.fa-whatsapp {
    color: green;
    background-color: gold;
}

.fa-viber {
    color: darkmagenta;
    background-color: aqua;
}

.fa-vk:hover {
    color: red;
    background-color: blue;
}

.fa-viber:hover {
    color: darkorange;
    background-color: darkblue;
}

a {
    text-decoration: none;
}

.menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.title {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.paragraph {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.title2 {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.picture {
    border-radius: 10px;
    width: 300px;
}

.enter {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}

.action {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

body {
    font-family: sans-serif;
}